html, button, input, testarea{
	color: #444;
/*margin-left: 390px;*/
}

html{
font-size: 1em;
line-height: 1.4;
}

body {
background: #ecf7f9/*#777*/;
}

#wrapper{
	min-width:320px;
	max-width:900px;
	text-align:/*left */center;
	position: center;
	margin-left:auto;
	margin-right:auto;
}


img {

border :3px solid rgb(100,73,36);
box-shadow : 8px 8px 5px black;
float: right;
position: absolute; 
top: 20px;
left: 1180px;
}

body, h1{
font-family: alex-brush, cursive;
}

h2 {
text-decoration: black wavy underline;
color: #0077b3;
}

h1{
color: #0000b3;
text-decoration: black dotted underline;
}

